@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --bg-color-blue-dark: #0D131C;
    --bg-color-blue-medium: #161E29;
    --bg-color-blue-light: #1E2834;
    --border-radius: 16px;
    --border: 1px solid #283242;
    --box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    --font-color: #fff;
    --font-style: normal;
    --line-height: normal;
}

html {
    font-size: 62.5%; /* 10px */
}

* {
    font-family: 'Satoshi', sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color-blue-dark);
}

.menu {
    display: flex; /* Define como um conteiner flexível */
    flex-direction: column; /* alinha verticalmente um abaixo do outro*/
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
}

#inicio {
    width: 16%;
    margin: 30px auto;
}

#logo {
    width: 20%;
    margin: 30px auto;
}

.conteudo {
    border-radius: var(--border-radius);
    border: var(--border);
    background: var(--bg-color-blue-medium);
    box-shadow: var(--box-shadow);
    width: 70%; 
    margin: 50px auto;
    padding: 30px 60px;
}

.perfil {
    display: flex; /* por padrão, foi add um "flex-direction: row" que alinha os itens um ao lado do outro */
    align-items: center;
    gap: 40px;
    margin: 30px 30px 60px 30px;
    padding: 10px;
}

.perfil img {
    width: 24%;
    margin-left: 10%;
}

.informaçao_perfil h3 {
    font-size: 3.2rem; /* 32px */
    font-style: var(--font-style);
    font-weight: 900;
    line-height: var(--line-height);
}

.informaçao_perfil p {
    font-size: 1.6rem; /* 16px */
    font-style: var(--font-style);
    font-weight: 700;
    line-height: var(--line-height);
    text-transform: uppercase;
}

#cargo {
    color: #B0B0B0;
    font-weight: 500;
    padding: 10px 0;
}

.card {
    background: var(--bg-color-blue-light);
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
    display: flex;
    width: 90%;
    padding: 30px 40px;
    margin: 30px auto;
}

.texto_card {
    padding-left: 20px;
}

.texto_card h3 {
    font-size: 2.4rem; /* 24px */
    font-style: var(--font-style);
    font-weight: 900;
    line-height: var(--line-height);
}

.texto_card p {
    padding-top: 16px;
    font-size: 1.6rem; /* 16px */
    font-style: var(--font-style);
    font-weight: 400;
    line-height: var(--line-height);
}

.texto_card ul li {
    font-size: 1.6rem; /* 16px */
    font-style: var(--font-style);
    font-weight: 400;
    line-height: var(--line-height);
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; /* espaço entre os botões*/
    margin: 60px 30px 30px 30px;
    padding: 10px;
}

.botoes a {
    text-decoration: none;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* espaço no conteudo do botão*/
    width: 100%;
    background-color: #6060FF;
    border: 1px solid #6060FF;
    border-radius: 8px;
    padding: 10px 14px;
}

.botao p {
    font-size: 1rem; /* 10px */
    font-style: var(--font-style);
    font-weight: 700;
    line-height: var(--line-height);
    text-transform: uppercase;
}

footer {
    border: var(--border);
    background: var(--bg-color-blue-medium);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-top: 50px;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 1.6rem;
}