@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --bg-color-blue-dark: #0D131C;
    --bg-color-blue-medium: #161E29;
    --bg-color-blue-light: #1E2834;
    --border-radius: 16px;
    --border: 1px solid #283242;
    --box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    --font-color: #fff;
    --font-size-32: 32px;
    --font-size-24: 24px;
    --font-size-16: 16px;
    --font-style: normal;
    --line-height: normal;
}

body {
    background-color: var(--bg-color-blue-dark);
}

* {
    font-family: 'Satoshi', sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu img {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 15%;
}

.logo img {
    display: flex;
    justify-content: center;
    margin: 60px auto;
    width: 20%;
}

.conteudo {
    border-radius: var(--border-radius);
    border: var(--border);
    background: var(--bg-color-blue-medium);
    box-shadow: var(--box-shadow);
    width: 70%;
    margin: 50px auto;
    padding: 30px 60px;
}

.perfil {
    display: flex;
    align-items: center;
    margin: 30px;
}

.perfil img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    filter: grayscale(50);
    margin: 30px;
}

.informação_perfil {
    margin-left: 10px;
}

.informação_perfil h3 {
    font-size: var(--font-size-32);
    font-style: var(--font-style);
    font-weight: 900;
    line-height: var(--line-height);
}


.informação_perfil p {
    font-size: var(--font-size-16);
    font-style: var(--font-style);
    font-weight: 700;
    line-height: var(--line-height);
    text-transform: uppercase;
}

#cargo {
    color: #B0B0B0;
    font-weight: 500;
    padding: 12px 0;
}

.card {
    background: var(--bg-color-blue-light);
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 30px 40px;
    margin: 30px;
    display: flex;
}

.icone_card {}

.texto_card {
    padding-left: 20px;
}

.texto_card h3 {
    font-size: var(--font-size-24);
    font-style: var(--font-style);
    font-weight: 900;
    line-height: var(--line-height);
}

.texto_card p {
    padding-top: 16px;
    font-size: var(--font-size-16);
    font-style: var(--font-style);
    font-weight: 400;
    line-height: var(--line-height);
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.botoes div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    height: 44px;
    border: 1px solid #6060FF;
    background-color: #6060FF;
    padding: 10px 14px;
    border-radius: 8px;
}

.botoes a {
    text-decoration: none;
}

.botoes p {
    font-size: 10px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: var(--line-height);
    text-transform: uppercase;
}

footer {
    border: var(--border);
    background: var(--bg-color-blue-medium);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100px;
    margin-top: 50px;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
}
